name: Dependency audit
run-name: Checking dependencies vulnerabilities
on: [push]
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - run: pip install uv pip-audit-extra
    - run: uv sync --frozen
    - run: pip-audit-extra --local --fail-level CRITICAL --severity HIGH
